.overview ul {
    position:relative;
    left:23%;
    width: 50%;
}

.overview .button-new-game {
    position: relative;
    left: 1%;
}

.overview .button-new-game button {
    color: black;
    background: white;

    
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px 1px 1px 1px;
    outline: none;
    
    padding: 2%;
    font-size: 1.1em;
    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
    transition: all 0.1s linear;
}


.overview .button-new-game button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

.overview .button-new-game button:active {
    transform: scale(1.15);
}